.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
.positai
inst/extdata/expt1/
inst/extdata/expt2/
inst/extdata/OMIP-109_Raw_Reference Group/
inst/extdata/OMIP-069_Raw_Reference Group/
inst/extdata/OMIP-069v2_Raw_Reference Group/
docs
**/.quarto/
inst/doc
/doc/
/Meta/
scratch
